<%- include('header') %>

<body>
    <link href="/css/404.css" type="text/css" rel="stylesheet" />
<div class="test">
  <span class="icon" data-component="icon" data-icon="mr-coffee"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 209 169"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><path fill="#FFF" fill-rule="nonzero" d="M122 73.018l-4.78 89.986s-8.685 2.998-26.575 3.014h-.258c-17.888.015-26.58-2.853-26.58-2.853v.015L59 73.24"></path><path fill="#F3F3F3" fill-rule="nonzero" d="M120 73.018l-4.78 89.986s-8.685 2.998-26.575 3.014h-.258c-17.888.015-26.58-2.853-26.58-2.853v.015L57 73.24"></path><path fill="#E5E5E5" fill-rule="nonzero" d="M100 81.019s8.934 1.865 14.044 7.128c5.11 5.26 6.65 17.87 6.65 17.87l1.306-25h-22v.002z"></path><path stroke="#828282" stroke-linejoin="round" stroke-width="1.989" d="M122 73.018l-4.78 89.986s-8.685 2.998-26.575 3.014h-.258c-17.888.015-26.58-2.853-26.58-2.853v.015L59 73.24"></path><path stroke="#828282" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.989" d="M95 128.018s.046-5-3.677-5H85"></path><circle cx="103.5" cy="107.518" r="8.5" fill="#FFF" fill-rule="nonzero"></circle><circle cx="78.5" cy="107.518" r="8.5" fill="#FFF" fill-rule="nonzero"></circle><path fill="#828282" fill-rule="nonzero" d="M104 107.018a1 1 0 1 1 0-.001"></path><path stroke="#828282" stroke-width=".995" d="M104 107.018a1 1 0 1 1 0-.001h0z"></path><path fill="#828282" fill-rule="nonzero" d="M79 107.018a1 1 0 1 1 0-.001"></path><path stroke="#828282" stroke-width=".995" d="M79 107.018a1 1 0 1 1 0-.001h0z"></path><path fill="#FFF" fill-rule="nonzero" d="M123 73.018H59l2.879-16h58.241z"></path><path fill="#E5E5E5" fill-rule="nonzero" d="M113 57.019l4.004 13.789 3.996.21-1.756-14H113z"></path><path stroke="#828282" stroke-linejoin="round" stroke-width="1.989" d="M123 73.018H59l2.879-16h58.241z"></path><path fill="#FFF" fill-rule="nonzero" d="M129 81.018H50l2.135-10h74.73L129 81.017z"></path><path stroke="#828282" stroke-linejoin="round" stroke-width="1.989" d="M129 81.018H50l2.135-10h74.73L129 81.017z"></path><path stroke="#444" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.989" d="M22.196 81.235l-11.86-1.859m143.562 19.571c5.266 2.346 11.393.559 16.722-1.642 5.49-2.27 11.068-5.185 14.29-10.183 3.221-4.996 3.105-12.586-1.694-16.09-.483-.352-1.009-.66-1.59-.789-.878-.195-1.81.04-2.595.477-3.526 1.972-3.526 7.488-.911 10.57 2.619 3.079 6.83 4.226 10.826 4.819 4.04.602 8.22.797 12.166-.261 2.398-.642 4.843-1.91 5.888-4.164M37.071 42.7c.175-5.768-3.797-10.77-7.848-14.875-4.176-4.233-8.982-8.298-14.82-9.39C8.567 17.34 1.598 20.318.174 26.095c-.144.58-.23 1.185-.13 1.773.154.888.722 1.662 1.425 2.224 3.158 2.523 8.258.434 10.113-3.156 1.857-3.592 1.32-7.931.359-11.86-.976-3.97-2.377-7.917-4.849-11.175C5.59 1.918 3.491.132 1.011.02m42.014 140.31a207.571 207.571 0 0 0-36.134 7.688M153.898 38.392a106.186 106.186 0 0 0 20.654-10.771m-73.484.167a33.823 33.823 0 0 1 15.82-4.744c-2.517-2.98-5.033-5.958-7.55-8.934-.423-.502-.873-1.171-.586-1.762.215-.435.735-.604 1.2-.74 6.417-1.894 12.141-6.062 15.92-11.59"></path></g></svg></span>

  
        <div class="col-15 col-m-8 col-m-push-1 error-message">
            <h2 class="title heading-02 bold">
              Désolé !
            </h2>
            <p class="description heading-04">
              Désolé, nous ne trouvons pas la page que vous recherchez. Veuillez tenter de retaper l’URL.
            </p>
        </div>
      </div>
    </div>
</body>
</html>